<div>
  <form
    ngNoForm
    class="form"
    id="contact-form"
    method="POST"
    action="mailto:95smiglani@gmail.com"
  >
    <div class="form-field">
      <mat-form-field appearance="outline" color="accent">
        <input type="text" matInput placeholder="Name" id="name" name="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <input
          type="email"
          matInput
          placeholder="Email"
          id="email"
          name="email"
        />
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="form-field" color="accent">
      <textarea
        matInput
        placeholder="Message"
        id="message"
        rows="6"
        name="message"
      ></textarea>
    </mat-form-field>
    <button
      type="submit"
      form="contact-form"
      mat-raised-button
      color="accent"
      class="form-button mat-body"
    >
      Send Message
    </button>
    <button type="reset" mat-stroked-button class="form-button mat-body">
      Reset
    </button>
  </form>
</div>
