<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 ">
        <p>
          Anant-Ehsaas Foundation is a pan-India non-profit society registered
          under Societies Registration Act XXI of 1860 (Regn. No.
          S-E/1676/Distt. South East/2019) with registered office at :
          <br />73, LGF, Anand Lok <br />New Delhi – 110049
        </p>
      </div>
      <div class="col-4 mb-0 mt-auto">
        <div class="container">
          <div class="row">
            <div class="col-1 offset-4">
              <mat-icon>facebook</mat-icon>
            </div>
            <div class="col-1">
              <mat-icon>facebook</mat-icon>
            </div>
            <div class="col-1">
              <mat-icon>facebook</mat-icon>
            </div>
            <div class="col-1">
              <mat-icon>facebook</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 ml-auto">
        <app-contact-us></app-contact-us>
      </div>
    </div>
  </div>
  <p class="footer-text">
    Hosted proudly on
    <a href="https://github.com/anant-ehsaas/anant-ehsaas.github.io"> GitHub</a>
    <a href="https://pages.github.com/"> Pages</a>
  </p>
</div>
