<div class="footer">
  <div>
    <p>
      Anant-Ehsaas Foundation is a pan-India non-profit society registered under
      Societies Registration Act XXI of 1860 (Regn. No. S-E/1676/Distt. South
      East/2019) with registered office at :
      <br />73, LGF, Anand Lok <br />New Delhi – 110049 <br />
      <br />Get in touch with us at +911148781108 or leave us a message below:
    </p>
  </div>
  <app-contact-us></app-contact-us>
  <p class="footer-text">
    Hosted proudly on
    <a href="https://github.com/anant-ehsaas/anant-ehsaas.github.io"> GitHub</a>
    <a href="https://pages.github.com/"> Pages</a>
  </p>
</div>
