<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <img src="../../../assets/img/landing.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-2 offset-2 mb-auto mt-auto">
          <div class="container">
            <div class="row">
              <p class="text-uppercase">I slept and dreamt that life was joy</p>
            </div>
            <div class="row">
              <p class="text-uppercase">I awoke and saw that life was service</p>
            </div>
            <div class="row">
              <p class="text-uppercase">I acted and behold, service was joy</p>
            </div>
            <div class="row">
              <p style="filter: brightness(60%)">Rabindranath Tagore</p>
            </div>
          </div>
    </div>
  </div>
</div>
