<!-- <div class="logo">
  <button
    (click)="openVisionDialog()"
    mat-fab
    aria-label="Logo"
    class="btn-logo"
  >
    <input type="image" src="../assets/img/logo.png" />
  </button>
</div> -->


<div class="landing">
  <div class="p-greeter">
    <span class="span-greeter mat-display-1">
      I slept and dreamt that life was joy
    </span>
    <span class="span-greeter mat-display-1">
      I awoke and saw that life was service
    </span>
    <span class="span-greeter mat-display-1">
      I acted and behold, service was joy
    </span>

    <span class="span-greeter-author mat-display-1"> Rabindranath Tagore </span>
  </div>
</div>
