.col{
  padding: 0;
}
.img-fluid{
  width: 100%;
  height: auto;
}

/* 
.p-greeter {
  width: fit-content;
  margin: 20rem auto ;
  display: grid;
}

.span-greeter {
  margin: auto;
  text-transform: uppercase;
}

.span-greeter-author {
  width: fit-content;
  margin: 1rem 0 0 auto;
  filter: brightness(60%);
} */
