<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img src="../../../assets/img/landing.jpg" class="img-fluid" alt="">
    </div>
    <div class="col text-center">
          <div style="margin-top:auto">
            <!-- https://getbootstrap.com/docs/4.6/utilities/flex/#auto-margins -->
            <p class="text-uppercase">I slept and dreamt that life was joy</p>
            <p class="text-uppercase">I awoke and saw that life was service</p>
            <p class="text-uppercase">I acted and behold, service was joy</p>
            <p style="filter: brightness(60%)">Rabindranath Tagore</p>
          </div>
    </div>
  </div>
</div>


<!-- <div class="p-greeter ">
  <span class="span-greeter mat-display-1 ">
    
  </span>
  <span class="span-greeter mat-display-1">
    
  </span>
  <span class="span-greeter mat-display-1">
    
  </span>
  <span class="span-greeter-author mat-display-1">  </span>
</div> -->